#!jinja|yaml|gpg
gpg:
  users:
    root:
      purge_gnupghome: True
      config:
        - 'pinentry-mode loopback'
      create:
        gpg@domain.com:
          key_type: RSA
          key_length: 4096
          subkey_type: RSA
          subkey_length: 4096
          expire_date: 0
          passphrase: stupidpassphrase
      present:
        AEF67H88:
          filename: /srv/key
          trust: ultimately
      absent:
        AEF67H87:
          delete_secret: True
