#!jinja|yaml|gpg
gpg:
  config:
    root:
      - 'pinentry-mode loopback'
  create:
    gpg@domain.com:
      user: root
      key_type: RSA
      key_length: 4096
      subkey_type: RSA
      subkey_length: 4096
      expire_date: 0
      trust_level: ultimately
      passphrase: stupidpassphrase
  present:
    user: root
    filename: /srv/key
    trust_level: ultimately
  absent:
    user: root
    keyid: AEF67H87
    delete_secret: True

