# -*- coding: utf-8 -*-
# vim: ft=jinja:ts=2:sw=2

# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'gpg/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'tools_pkgs': ['rng-tools'],
        'pkg': 'gnupg',
        'conf_dir': '.gnupg',
        'conf_file': '.gnupg/gpg.conf'
    },
}
, grain="os_family"
, merge=salt['pillar.get']('gpg:lookup'), default='Debian') %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.gpg.update(os_family_map) %}

{## Merge in gpg:lookup pillar ##}
{% set gpg = salt['pillar.get'](
        'gpg',
        default=default_settings.gpg,
        merge=True
    )
%}
